database:
  host: localhost
  username: root
  password: letmein
  database: owncloud
  cards_table: oc_cards
  cards_properties_table: oc_cards_properties
  calendar_table: oc_calendarobjects
addressbook_ids:
  - 1
  - 3
calendar_ids:
  - 4
  - 17
directories:
  contacts: ./contacts
  calendar: ./calendar
mailer:
  from: change-mailer@example.com
  to:
    - recipient@example.com
    - recipient2@example.com
