database:
  host: localhost
  username: root
  password: letmein
  database: owncloud
  contacts_table: oc_contacts_cards
  calendar_table: oc_clndr_objects
addressbook_ids:
  - 1
  - 3
calendar_ids:
  - 4
  - 17
directories:
  contacts: ./contacts
  calendar: ./calendar
mailer:
  from: change-mailer@example.com
  to:
    - recipient@example.com
    - recipient2@example.com
